.success-flash
{
    background-color: var(--background-color-success-flash);
    font-weight: bold;
    width: 50%;

    margin-bottom: 20px;
    padding: 20px 0;
    border-radius: 5px;
}

.success-flash p
{
    padding-bottom: 0;
}

.warning-flash
{
    background-color: var(--background-color-warning-flash);
    font-weight: bold;
    width: 50%;

    margin-bottom: 20px;
    padding: 20px 0;
    border-radius: 5px;
}

.warning-flash p
{
    padding-bottom: 0;
}

.warning-flash ul li
{
    padding-top: 20px;
}

.message-space
{
    margin-bottom: 20px;
}

.message-space input
{
    margin-bottom: 0;
}
/**/

#contact div button
{
    margin-bottom: 0;
}

article
{
    text-align: center;
    background-color: var(--background-color-register);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    padding: 30px 0;
    border: 2px solid var(--color-black);
    border-radius: 5px;
}

article p:last-of-type
{
    padding-bottom: 0;
}

article div
{
    padding-top: 20px;
}

article div:first-of-type
{
    padding-top: 0;
}