.navigation
{
    padding: 20px 0;
}

.navigation nav ul
{
    display: flex;
    align-items: center;
}

.navigation nav ul a
{
    display: inline-block;
    color: #aaaaaa;
    background-color: var(--background-color-header);

    margin-right: 10px;
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 10px;
}

.navigation nav ul a:hover
{
    color: var(--color-white);
}