{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section>
    <p>LoliSSR find your favorite waifu !</p>
    <p>Currently on page 1.</p>
</section>

    <div>
        <p>Ici on affiche les images</p>
    </div>
{% endblock %}
