{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section>
    <p>LoliSSR find your favorite waifu !</p>
    <p>Currently on page 1.</p>
</section>

    <div>
        {% for images in image %}
            <img src="{{ asset('images/loli/' ~ images.name)}}" alt="{{ images.name }}">
            <p>{{ images.type }}</p>
            <p>{{ images.gender }}</p>
        {% endfor %}
    </div>
{% endblock %}
