header
{
    background-color: var(--background-color-header);
}

header nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 20px;
}

header nav h1
{
    margin-right: 10px;
}

header nav h1 a
{
    color: var(--color-white);
}

header nav ul
{
    display: flex;
    align-items: center;
}

header nav ul li
{
    margin-right: 10px;
}

header nav ul li a
{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #aaaaaa;
}

header nav ul li a:hover
{
    color: var(--color-white);
}