body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--font-family);
    background-color: var(--background_color_body);
}

main
{
    padding: 0 30px;
}

main section
{
    padding: 30px 0;
}

main section p
{
    font-size: 1.2em;
}
