:root
{
    /* Font */
    --font-family: 'Open Sans', sans-serif;

    /* Color */
    --background-color-header: #333333;
    --background-color-body: #d9deda;
    --background-color-register: #ebebeb;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-header-link: #aaaaaa;
}