<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Demande d'inscription de {{ user.name }}</h1>
        <p>comfirm your email adress {{ user.email }} by clicking there :</p>
    </body>
</html>