<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Demande d'inscription de {{ user.name }}</h1>
        <p>Your LoliSSR account with your email {{ user.email }} have been succefully create.</p>
    </body>
</html>