<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Dear {{ user.name }}, this email confirm your registration.</h1>
        <p>Your can now login on LoliSSR with your email {{ user.email }} and your password.</p>
    </body>
</html>