#register a
{
    width: 180px;

    padding: 5px 0;
    border: 2px solid var(--background-color-header);
    border-radius: 5px;
}

#register a:hover
{
    color: var(--color-white);
    opacity: 0.9;
}