/* Marge */
.padding-top
{
    padding-top: 20px;
}

.padding-bottom-none
{
    padding-bottom: 0;
}

.margin-bottom-none
{
    margin-bottom: 0;
}

/**/

/* Flash */
.success-flash
{
    background-color: var(--background-color-success-flash);
    width: 50%;

    margin-bottom: 20px;
    padding: 20px 0;
    border-radius: 5px;
}

.warning-flash
{
    background-color: var(--background-color-warning-flash);
    width: 50%;

    margin-bottom: 20px;
    padding: 20px 0;
    border-radius: 5px;
}

.message-flash
{
    font-weight: bold;

    padding-bottom: 0;
}

.warning-flash ul li
{
    font-size: 1.1em;

    padding-top: 20px;
}
/**/

/* Form */
.form-last-div-space
{
    margin-bottom: 20px;
}

.form-last-div-space input
{
    margin-bottom: 0;
}

.font-last-div-chexbox-space
{
    margin-bottom: 20px;
}

.font-last-div-chexbox-space
{
    display: flex;
    flex-direction: row;
}

.font-last-div-chexbox-space label
{
    margin-right: 10px;
    padding-bottom: 0;
}

.font-last-div-chexbox-space input
{
    margin: 0;
}
/**/

.a-button
{
    width: 180px;

    padding: 5px 0;
    border: 2px solid var(--background-color-header);
    border-radius: 5px;
}

.a-button:hover
{
    color: var(--color-white);
    opacity: 0.9;
}

.bold
{
    font-weight: bold;
}