header
{
    background-color: var(--background-color-header);
}

header nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
}

header nav ul h1
{
    margin-right: 10px;
}

header nav ul h1 a
{
    color: var(--color-white);
}

header nav ul
{
    display: flex;
    align-items: center;
}

header nav ul li
{
    margin-right: 10px;
}

header nav ul li:last-of-type
{
    margin-right: 0;
}

header nav ul li a
{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-header-link);
}

header nav ul li a:hover
{
    color: var(--color-white);
}