{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<article>
    <h2>Settings profil</h2>

    <nav>
        <ul>
            <li><a class="a-button" href="{{ path('app_profil_name', { 'id': app.user.id }) }}">Change name</a></li>
            <li><a class="a-button" href="{{ path('app_profil_password', { 'id': app.user.id }) }}">Change Password</a></li>
        </ul>
    </nav>

</article>
{% endblock %}
