{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    {% for contact in contacts %}
        <p>{{ contact.name }}</p>
        <p>{{ contact.email }}</p>
        <p>{{ contact.subject }}</p>
        <p>{{ contact.message }}</p>
    {% endfor %}

{% endblock %}
